div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"></div>
        <div class="row">
        <div *ngFor="let i of data" class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

            <div class="card" >
                <img height="350pxn" class="card-img-top" src="{{i.image}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{i.title}}</h5>
                  <p class="card-text">${{i.price}}</p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>


        </div>
     
    </div>
</div>

